@font-face {
    font-family: "Maven Pro Regular";
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/MavenPro-Regular.eot');
    src: local('Maven Pro Regular'), local('Maven Pro Regular'), url('../fonts/MavenPro-Regular.ttf') format('truetype'), url('../fonts/MavenPro-Regular.eot') format('embedded-opentype'), url('../fonts/MavenPro-Regular.woff') format('woff');
}

.calendar {
    background-color: rgb(242, 242, 242);
    text-align: center;
    padding-top: 20px;
    font-family: "Maven Pro Regular";
    color: rgb(96, 130, 187);
}

.button {
    cursor: pointer;
    font-family: "Maven Pro Regular";
    background-color: #106ba1;
    padding: 7px 10px 8px 10px;
    color: #fff;
    border-radius: 4px;
    margin-bottom:15px;
    font-size: 18px;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
}

footer{
	position:absolute;
    font-size: 13px;
    background-color: #106ba1;
	color:#fff;
	bottom:30%;
	width:95%;
}
.month--inline,.year--inline{
	display:inline-block;
	width:25%;
}

.dates th, td {
  padding: 5px;
  text-align: left;
}
